/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}

#owl-demo .owl-buttons
{
    float: right;
    width: 100% !important;

}
#owl-demo .owl-next
{
	background:url(../images/owl-right-bttn.png) no-repeat;
	padding:7px 0;
	width:30px;
	height:48px;
	float:right;
	margin: 0;
	position: absolute;
	z-index: 1;
	right: -36px;
	top: 50%;
	transform: translate(0, -50%);
}
#owl-demo .owl-prev {
	background: url(../images/owl-left-bttn.png) no-repeat;
	padding: 7px 0;
	width: 30px;
	height: 48px;
	float: left;
	margin: 0;
	position: absolute;
	z-index: 1;
	left: -36px;
	top: 50%;
	transform: translate(0, -50%);
}

#owl-demo2 .owl-buttons
{
    float: right;
    width: 100% !important;

}
#owl-demo2 .owl-next
{
	background:url(../images/owl-right-bttn.png) no-repeat;
	padding:7px 0;
	width:30px;
	height:48px;
	float:right;
	margin: 0;
	position: absolute;
	z-index: 1;
	right: -36px;
	top: 50%;
	transform: translate(0, -50%);
}
#owl-demo2 .owl-prev {
	background: url(../images/owl-left-bttn.png) no-repeat;
	padding: 7px 0;
	width: 30px;
	height: 48px;
	float: left;
	margin: 0;
	position: absolute;
	z-index: 1;
	left: -36px;
	top: 50%;
	transform: translate(0, -50%);
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	display:none;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}