 @media only screen and (min-width: 1919px) and (max-width: 2500px) {

}

@media only screen and (min-width: 1601px) and (max-width: 1918px) {
.header-content-midd {
	height: 900px;
}
.header-right {
    height: 900px;
}
.header-left::after {
	right: -118px;
	border-bottom: 900px solid #102a50;
	border-right: 118px solid transparent;
}
.cont-detail-form h3 {
	font-size: 50px;
	line-height: 40px;
}
/*About page starts*/
.container {
	width: 1500px;
}
/*About page ends*/
}

@media only screen and (min-width: 1369px) and (max-width: 1600px) {
.header-content-midd {
	height: 770px;
	padding: 0 50px 0 0;
}
.header-right {
    height: 770px;
}
.header-left::after {
	right: -118px;
	border-bottom: 770px solid #102a50;
	border-right: 118px solid transparent;
}
.header-left-content h1 {
	font-size: 110px;
	line-height: 90px;
	margin: 16px 0 20px;
}
.journal-magazine {
	font-size: 26px;
	line-height: 24px;
}
.easy-steps h3 {
	font-size: 36px;
	line-height: 32px;
	margin: 30px 0 0 0;
}
.easy-steps ul li {
	font-size: 22px;
	line-height: 20px;
	margin: 18px 0 0 0;
}
.table-heading td {
	font-size: 38px;
}
.sort-options .box_check_txt {
	margin: 26px 14px 20px 0;
}
.sort-options .box_check_txt label {
	font-size: 15px;
}
.selected-items {
	font-size: 17px;
}
.cont-detail-form {
	padding: 40px 35px 40px !important;
}
.cont-detail-form h3 {
	font-size: 44px;
	line-height: 34px;
}
.best-seller {
	padding: 40px 35px 30px !important;
}
.best-seller h3 {
	font-size: 31px;
	line-height: 28px;
}

/*About page starts*/
.container {
	width: 1320px;
}
.cont-image-ajn {
	margin: 0 182px 76px 0;
}
.inner-page-heading h2 {
	font-size: 74px;
	line-height: 74px;
}
.inner-page-heading p span {
	font-size: 22px;
}
.inner-page-heading p {
	font-size: 20px;
}
/*About page ends*/
}

@media only screen and (min-width: 1201px) and (max-width: 1368px) {
.header-content-midd {
	height: 750px;
	padding: 0 50px 0 0;
}
.header-right {
    height: 750px;
}
.header-left::after {
	right: -118px;
	border-bottom: 750px solid #102a50;
	border-right: 118px solid transparent;
}
.header-left-content h1 {
	font-size: 110px;
	line-height: 90px;
	margin: 16px 0 20px;
}
.national-international h2 {
	font-size: 42px;
	line-height: 36px;
	margin: 0 0 12px;
}
.journal-magazine {
	font-size: 26px;
	line-height: 24px;
}
.easy-steps h3 {
	font-size: 36px;
	line-height: 32px;
	margin: 30px 0 0 0;
}
.easy-steps ul li {
	font-size: 22px;
	line-height: 20px;
	margin: 18px 0 0 0;
}
.table-heading td {
	font-size: 35px;
}
.sort-options .box_check_txt {
	margin: 26px 10px 20px 0;
}
.sort-options .box_check_txt label {
	font-size: 15px;
}
.selected-items {
	font-size: 17px;
}
.cont-detail-form {
	padding: 40px 35px 40px !important;
}
.cont-detail-form h3 {
	font-size: 42px;
	line-height: 34px;
}
.best-seller {
	padding: 40px 35px 30px !important;
}
.best-seller h3 {
	font-size: 30px;
	line-height: 28px;
}

/*About page starts*/
.container {
	width: 1170px;
}
.inner-page .header-content-midd {
	height: 680px;
}
.inner-page .header-left::after {
	border-bottom: 680px solid #102a50;
}
.inner-page .header-right {
	height: 680px;
}
.cont-image-ajn {
	margin: 0 160px 76px 0;
}
.inner-page-heading h2 {
	font-size: 74px;
	line-height: 74px;
}
.inner-page-heading p span {
	font-size: 22px;
}
.inner-page-heading p {
	font-size: 20px;
}
/*About page ends*/
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.header-content-midd {
	height: 565px;
	padding: 0 50px 0 0;
}
.header-right {
    height: 565px;
}
.header-left::after {
	right: -118px;
	border-bottom: 565px solid #102a50;
	border-right: 118px solid transparent;
}
.catalog-heading {
	font-size: 34px;
	line-height: 32px;
}
.header-left-content h1 {
	font-size: 90px;
	line-height: 70px;
	margin: 16px 0 17px;
}
.journal-magazine {
	font-size: 25px;
	line-height: 22px;
	letter-spacing: 4px;
}
.national-international h2 {
	font-size: 38px;
	line-height: 32px;
	margin: 0 0 12px;
}
.national-international h4 {
    font-size: 28px;
    line-height: 24px;
}
.steps-easy {
	padding: 25px 20px 25px 0 !important;
}
.easy-steps-tab {
	width: 100px;
}
.steps-list {
	width: 90px;
}
.year-in-header {
	font-size: 40px;
	line-height: 30px;
	margin: 15px 0 0 0;
}
.easy-steps h3 {
	font-size: 30px;
	line-height: 30px;
	margin: 30px 0 10px 0;
}
.easy-steps h3 {
	font-size: 35px;
	line-height: 32px;
	margin: 25px 0 5px 0;
	letter-spacing: 5px;
}
.easy-steps ul li {
	font-size: 18px;
	line-height: 20px;
	margin: 8px 0 0 0;
	letter-spacing: 4px;
}
.sort-options .box_check_txt {
	margin: 17px 10px 12px 0;
}
.sorting-right-side .items-head th {
	padding: 22px 5px;
}
.info-selected {
	font-size: 19px;
	line-height: 18px;
}
.sort-options .box_check_txt label {
	font-size: 12px;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
	width: 21px;
	height: 22px;
	margin: -3px 2px 0 0;
	background-size: 100% auto;
	background-position:center top 1px;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -81px;
}
.total-titles {
	width: 100%;
}
.total-inr {
	float: left;
	width: 100%;
	margin: 7px 0 0 0;
}
.selected-items {
	font-size: 18px;
}
.cont-detail-form {
	padding: 30px 10px 30px !important;
}
.cont-detail-form h3 {
	font-size: 35px;
	line-height: 28px;
}
.detail-form-otr {
	margin: 20px 0 0 0;
}
.cont-fields input {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 10px;
}
.cont-fields textarea {
	font-size: 16px;
	line-height: 18px;
	padding: 12px 10px;
}
.cont-submit input {
	font-size: 20px;
	line-height: 19px;
	padding: 18px 10px;
}
.best-seller {
	margin: 30px 0 0 0;
	padding: 30px 13px 25px !important;
}
.best-seller h3 {
	font-size: 25px;
	line-height: 24px;
}
.best-seller p {
	font-size: 15px;
	line-height: 22px;
	margin: 8px 0 0 0;
}
.nursing-specialities ul li {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0 0;
	background-position:left top 1px;
}
.tabs-menu li {
	width: 120px;
	line-height: 30px;
}
.tabs-menu li a {
	font-size: 16px;
	line-height: 16px;
	padding: 14px 0;
}
.cont-content {
	padding: 35px 10px 30px;
}
.tabs-menu li a span {
	font-size: 12px;
	line-height: 14px;
}
.sorting-left-side {
	padding: 0 15px 0 0 !important;
}
.sorting-right-side {
	padding: 0 0 0 15px !important;
}
.items-head th {
	font-size: 13px;
	line-height: 14px;
	padding: 15px 3px;
	text-transform: capitalize;
	font-weight: 500;
}
.table-cont td {
	font-size: 13px;
	line-height: 16px;
	padding: 10px 5px;
}
.table-heading td {
	font-size: 28px;
	line-height: 26px;
	text-shadow: 1px 2px 0px #bfbfbf;
}
.right-small-table .table-heading td {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0 9px 11%;
}

/*About page starts*/
.container {
	width: 970px;
}
.inner-page .header-content-midd {
	height: 560px;
}
.inner-page .header-left::after {
	border-bottom: 560px solid #102a50;
}
.inner-page .header-right {
	height: 560px;
}
.cont-image-ajn {
	margin: 0 124px 76px 0;
}
.cont-inner-table {
	width: 100%;
	margin: 32px 0 0 0;
}
.inner-page-heading h2 {
	font-size: 65px;
	line-height: 54px;
}
.inner-page-heading p span {
	font-size: 20px;
}
.inner-page-heading p {
	font-size: 18px;
}
.print-form {
	width: auto;
}
.email-field {
	width: 450px;
}
/*About page ends*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.header-content-midd {
	height: 440px;
	padding: 0 20px 0 0;
}
.header-right {
    height: 440px;
}
.header-left::after {
	right: -118px;
	border-bottom: 440px solid #102a50;
	border-right: 118px solid transparent;
}
.catalog-heading {
	font-size: 28px;
	line-height: 25px;
}
.header-left-content h1 {
	font-size: 60px;
	line-height: 50px;
	margin: 6px 0 7px;
}
.journal-magazine {
	font-size: 22px;
	line-height: 20px;
	letter-spacing: 2px;
}
.national-international h2 {
	font-size: 30px;
	line-height: 28px;
	margin: 0 0 10px;
}
.national-international h4 {
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	padding: 0 0 15px;
}
.steps-easy {
	padding: 25px 14px 25px 0 !important;
}
.steps-list {
	width: 70px;
}
.easy-steps-tab {
	width: 60px;
}
.steps-list a {
	font-size: 12px;
	line-height: 15px;
}
.year-in-header {
	font-size: 30px;
	line-height: 24px;
	margin: 8px 0 0 0;
}
.easy-steps h3 {
	font-size: 30px;
	line-height: 30px;
	margin: 30px 0 10px 0;
}
.easy-steps h3 {
	font-size: 25px;
	line-height: 22px;
	margin: 20px 0 5px 0;
	letter-spacing: 2px;
}
.easy-steps ul li {
	font-size: 14px;
	line-height: 20px;
	margin: 4px 0 0 0;
	letter-spacing: 4px;
	padding: 0 36px 0 0;
	background-size: 14px auto;
	background-position: right top 5px;
}
.sort-options .box_check_txt {
	margin: 17px 10px 12px 0;
}
.sorting-right-side .items-head th {
	padding: 22px 5px;
}
.info-selected {
	font-size: 24px;
	line-height: 22px;
}
.sort-options .box_check_txt label {
	font-size: 12px;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
	width: 21px;
	height: 22px;
	margin: -3px 2px 0 0;
	background-size: 100% auto;
	background-position:center top 1px;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -81px;
}
.selected-items {
	font-size: 20px;
}
.cont-detail-form {
	padding: 30px 30px 30px !important;
}
.cont-detail-form h3 {
	font-size: 35px;
	line-height: 28px;
}
.detail-form-otr {
	margin: 20px 0 0 0;
}
.cont-fields input {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 10px;
}
.cont-fields textarea {
	font-size: 16px;
	line-height: 18px;
	padding: 12px 10px;
}
.cont-submit input {
	font-size: 20px;
	line-height: 19px;
	padding: 18px 10px;
}
.best-seller {
	margin: 30px 0 0 0;
	padding: 30px 32px 25px !important;
}
.best-seller h3 {
	font-size: 25px;
	line-height: 24px;
}
.best-seller p {
	font-size: 15px;
	line-height: 22px;
	margin: 8px 0 0 0;
}
.nursing-specialities ul li {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0 0;
	background-position:left top 1px;
}
.tabs-menu li {
	width: 120px;
	line-height: 30px;
}
.tabs-menu li a {
	font-size: 16px;
	line-height: 16px;
	padding: 14px 0;
}
.cont-content {
	padding: 35px 10px 30px;
}
.tabs-menu li a span {
	font-size: 12px;
	line-height: 14px;
}
.sorting-left-side {
	padding: 0 !important;
	width: 100%;
}
.sorting-right-side {
	padding: 0 !important;
	width: 100%;
}
.items-head th {
	font-size: 13px;
	line-height: 14px;
	padding: 15px 3px;
	text-transform: capitalize;
	font-weight: 500;
}
.table-cont td {
	font-size: 13px;
	line-height: 16px;
	padding: 10px 5px;
}
.table-heading td {
	font-size: 28px;
	line-height: 26px;
	text-shadow: 1px 2px 0px #bfbfbf;
}
.right-small-table .table-heading td {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0 9px 8%;
}

/*About page starts*/
.container {
	width: 740px;
}
.inner-page .header-content-midd {
	height: 436px;
}
.inner-page .header-left::after {
	border-bottom: 436px solid #102a50;
}
.inner-page .header-right {
	height: 436px;
}
.cont-image-ajn {
	float: left;
	margin: 0 0 76px 0;
}
.ajn-img img {
	width: 280px;
}
.ajn-frame {
	width: 280px;
	right: -60px;
	bottom: -60px;
}
.ajn-frame img {
	width:100%;
}
.cont-inner-table {
	width: 100%;
	margin: 0;
}
.inner-page-heading h2 {
	font-size: 52px;
	line-height: 44px;
}
.inner-page-heading p span {
	font-size: 19px;
}
.inner-page-heading p {
	font-size: 19px;
}
.email-field {
	width: 400px;
}
.email-field input {
	font-size: 16px;
	line-height: 18px;
	padding: 24px 45px;
}
.email-page {
	width: 200px;
	margin: 0 10px;
}
.email-submit input {
	font-size: 16px;
	line-height: 22px;
	padding: 26px 0;
	letter-spacing: 1px;
}
.buttons-centr a {
	width: 300px;
	font-size: 16px;
	line-height: 22px;
	padding: 27px 0 25px;
	letter-spacing: 0;
}
.print-page {
	width: 100px;
	margin: 0 0 0 20px;
}
.print-form {
	width: auto;
}
/*About page ends*/
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
.header-content-midd {
	height: 364px;
	padding: 0 20px 0 0;
}
.header-right {
    height: 364px;
}
.header-left::after {
	right: -118px;
	border-bottom: 364px solid #102a50;
	border-right: 118px solid transparent;
}
.catalog-heading {
	font-size: 16px;
	line-height: 15px;
}
.header-left-content h1 {
	font-size: 32px;
	line-height: 26px;
	margin: 4px 0 5px;
}
.journal-magazine {
	font-size: 20px;
	line-height: 16px;
	letter-spacing: 0px;
}
.national-international h2 {
	font-size: 26px;
	line-height: 24px;
	margin: 0 0 5px;
}
.national-international h4 {
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0px;
	padding: 0 0 15px;
}
.steps-easy {
	padding: 25px 8px 25px 0 !important;
}
.steps-list {
	width: 70px;
	display: inline-block;
	float: none;
}
.easy-steps-tab {
	width: 60px;
}
.steps-list a {
	font-size: 12px;
	line-height: 15px;
}
.year-in-header {
	font-size: 21px;
	line-height: 18px;
	margin: 5px 0 0 0;
}
.easy-steps h3 {
	font-size: 20px;
	line-height: 22px;
	margin: 10px 0 2px 0;
	letter-spacing: 0px;
}
.easy-steps ul li {
	font-size: 14px;
	line-height: 20px;
	margin: 2px 0 0 0;
	letter-spacing: 2px;
	padding: 0 25px 0 0;
	background-size: 14px auto;
	background-position: right top 5px;
}
.cont-phone-mail {
	width: 290px;
}
.contact-info-otr {
	right: -240px;
}
.contact-text {
	width: 240px;
	height: 50px;
}
.contact-icons {
	width: 50px;
	height: 50px;
}
.phone-icon .fa-phone {
	color: #fff;
	font-size: 26px;
	margin: 13px 0 0 0;
}
.mail-icon .fa-envelope-o {
	color: #fff;
	font-size: 25px;
	margin: 12px 0 0 0;
}
.contact-info-otr a {
	font-size: 14px;
	line-height: 52px;
}
.contact-text span {
	line-height: 50px;
}
.sort-options .box_check_txt {
	margin: 17px 10px 12px 0;
}
.sorting-right-side .items-head th {
	padding: 22px 5px;
}
.info-selected {
	font-size: 24px;
	line-height: 22px;
}
.sort-options .box_check_txt label {
	font-size: 12px;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
	width: 21px;
	height: 22px;
	margin: -3px 2px 0 0;
	background-size: 100% auto;
	background-position:center top 1px;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -81px;
}
.selected-items {
	font-size: 20px;
}
.cont-detail-form {
	padding: 30px 30px 30px !important;
}
.cont-detail-form h3 {
	font-size: 35px;
	line-height: 28px;
}
.detail-form-otr {
	margin: 20px 0 0 0;
}
.cont-fields input {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 10px;
}
.cont-fields textarea {
	font-size: 16px;
	line-height: 18px;
	padding: 12px 10px;
}
.cont-submit input {
	font-size: 20px;
	line-height: 19px;
	padding: 18px 10px;
}
.best-seller {
	margin: 30px 0 0 0;
	padding: 30px 32px 25px !important;
}
.best-seller h3 {
	font-size: 25px;
	line-height: 24px;
}
.best-seller p {
	font-size: 15px;
	line-height: 22px;
	margin: 8px 0 0 0;
}
.nursing-specialities ul li {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0 0;
	background-position:left top 1px;
}
.tabs-menu li {
	width: 120px;
	line-height: 30px;
}
.tabs-menu li a {
	font-size: 15px;
	line-height: 16px;
	padding: 14px 0;
}
.cont-content {
	padding: 20px 10px 20px;
}
.tabs-menu li a span {
	font-size: 12px;
	line-height: 14px;
}
.sorting-left-side {
	padding: 0 !important;
	width: 100%;
}
.sorting-right-side {
	padding: 0 !important;
	width: 100%;
}
.items-head th {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 3px;
	text-transform: capitalize;
	font-weight: 500;
}
.table-cont td {
	font-size: 12px;
	line-height: 16px;
	padding: 10px 5px;
}
.table-heading td {
	font-size: 24px;
	line-height: 24px;
	text-shadow: 1px 2px 0px #bfbfbf;
}
.right-small-table .table-heading td {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0 9px 8%;
}
.footer-content p {
	font-size: 15px;
	line-height: 22px;
}
.contact-footr {
	font-size: 20px;
	line-height: 22px;
}

/*About page starts*/
.container {
	width: 620px;
}
.inner-page .header-content-midd {
	height: 364px;
}
.inner-page .header-left::after {
	border-bottom: 364px solid #102a50;
}
.inner-page .header-right {
	height: 364px;
}
.inner-img-part {
	text-align: center;
}
.cont-image-ajn {
	float: none;
	display:inline-block;
	margin: 0 0 76px 0;
	width: auto;;
}
.ajn-img img {
	width: 280px;
}
.ajn-frame {
	width: 280px;
	right: -60px;
	bottom: -60px;
}
.ajn-frame img {
	width:100%;
}
.cont-inner-table {
	width: 100%;
	margin: 0;
}
.inner-page-heading h2 {
	font-size: 42px;
	line-height: 36px;
}
.inner-page-heading p span {
	font-size: 17px;
}
.inner-page-heading p {
	font-size: 17px;
	line-height: 26px;
	margin: 10px 0 0 0;
}
.email-field {
	width: 300px;
}
.email-field input {
	font-size: 16px;
	line-height: 18px;
	padding: 14px 10px;
}
.email-page {
	width: 170px;
	margin: 0 10px;
}
.email-submit input {
	font-size: 16px;
	line-height: 22px;
	padding: 16px 0;
	letter-spacing: 1px;
}
.buttons-centr a {
	width: 200px;
	font-size: 16px;
	line-height: 22px;
	padding: 14px 0 12px;
	letter-spacing: 0;
}
.print-page {
	width: 100px;
	margin: 0 0 0 20px;
}
.print-form {
	width: auto;
}
/*About page ends*/
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
.header-content-midd {
	height: 272px;
	padding: 0 20px 0 0;
}
.header-right {
    height: 272px;
}
.header-left::after {
	right: -118px;
	border-bottom: 272px solid #102a50;
	border-right: 118px solid transparent;
}
.catalog-heading {
	font-size: 16px;
	line-height: 15px;
}
.header-left-content h1 {
	font-size: 25px;
	line-height: 22px;
	margin: 4px 0 5px;
}
.journal-magazine {
	font-size: 14px;
	line-height: 12px;
	letter-spacing: 0px;
}
.national-international h2 {
	font-size: 21px;
	line-height: 20px;
	margin: 0 0 5px;
}
.national-international h4 {
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0px;
	padding: 0 0 12px;
}
.steps-easy {
	padding: 25px 8px 25px 0 !important;
}
.steps-list {
	width: 70px;
	display: inline-block;
	float: none;
}
.easy-steps-tab {
	width: 60px;
}
.steps-list a {
	font-size: 12px;
	line-height: 15px;
}
.year-in-header {
	font-size: 18px;
	line-height: 16px;
	margin: 4px 0 0 0;
	letter-spacing: 1px;
}
.easy-steps h3 {
	font-size: 16px;
	line-height: 14px;
	margin: 10px 0 2px 0;
	letter-spacing: 0px;
}
.easy-steps ul li {
	font-size: 12px;
	line-height: 14px;
	margin: 1px 0 0 0;
	letter-spacing: 2px;
	padding: 0 25px 0 0;
	background-size: 12px auto;
	background-position: right top 4px;
}
.cont-phone-mail {
	width: 240px;
}
.contact-info-otr {
	right: -200px;
}
.contact-text {
	width: 200px;
	height: 50px;
}
.contact-icons {
	width: 40px;
	height: 50px;
}
.phone-icon .fa-phone {
	color: #fff;
	font-size: 26px;
	margin: 13px 0 0 0;
}
.mail-icon .fa-envelope-o {
	color: #fff;
	font-size: 25px;
	margin: 12px 0 0 0;
}
.contact-info-otr a {
	font-size: 12px;
	line-height: 52px;
}
.contact-text span {
	line-height: 50px;
}
.sort-options .box_check_txt {
	margin: 17px 10px 12px 0;
}
.sorting-right-side .items-head th {
	padding: 22px 5px;
}
.info-selected {
	font-size: 24px;
	line-height: 22px;
}
.sort-options .box_check_txt label {
	font-size: 12px;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
	width: 21px;
	height: 22px;
	margin: -3px 2px 0 0;
	background-size: 100% auto;
	background-position:center top 1px;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -81px;
}
.selected-items {
	font-size: 18px;
}
.cont-detail-form {
	padding: 30px 20px 30px !important;
}
.cont-detail-form h3 {
	font-size: 35px;
	line-height: 28px;
}
.detail-form-otr {
	margin: 20px 0 0 0;
}
.cont-fields input {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 10px;
}
.cont-fields textarea {
	font-size: 16px;
	line-height: 18px;
	padding: 12px 10px;
}
.cont-submit input {
	font-size: 20px;
	line-height: 19px;
	padding: 18px 10px;
}
.best-seller {
	margin: 30px 0 0 0;
	padding: 30px 20px 25px !important;
}
.best-seller h3 {
	font-size: 25px;
	line-height: 24px;
}
.best-seller p {
	font-size: 15px;
	line-height: 22px;
	margin: 8px 0 0 0;
}
.nursing-specialities ul li {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0 0;
	background-position:left top 1px;
}
.tabs-menu li {
	width: 90px;
	line-height: 30px;
}
.tabs-menu li a {
	font-size: 15px;
	line-height: 16px;
	padding: 14px 0;
}
.table-cont {
	overflow-x: scroll;
}
.table-cont table {
	width: 620px;
}
.right-small-table .table-cont table {
	width: 100%;
}
.cont-content {
	padding: 20px 10px 20px;
}
.tabs-menu li a span {
	font-size: 12px;
	line-height: 14px;
}
.sorting-left-side {
	padding: 0 !important;
	width: 100%;
}
.sorting-right-side {
	padding: 0 !important;
	width: 100%;
}
.items-head th {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 3px;
	text-transform: capitalize;
	font-weight: 500;
}
.table-cont td {
	font-size: 12px;
	line-height: 16px;
	padding: 10px 5px;
}
.table-heading td {
	font-size: 24px;
	line-height: 24px;
	text-shadow: 1px 2px 0px #bfbfbf;
}
.right-small-table .table-heading td {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0 9px 8%;
}
.footer-content p {
	font-size: 15px;
	line-height: 22px;
}
.contact-footr {
	font-size: 20px;
	line-height: 22px;
}

/*About page starts*/
.container {
	width: 450px;
}
.inner-page .header-content-midd {
	height: 274px;
}
.inner-page .header-left::after {
	border-bottom: 274px solid #102a50;
}
.inner-page .header-right {
	height: 274px;
}
.inner-img-part {
	text-align: center;
}
.cont-image-ajn {
	float: none;
	display:inline-block;
	margin: 0 0 76px 0;
	width: auto;;
}
.ajn-img img {
	width: 280px;
}
.ajn-frame {
	width: 280px;
	right: -40px;
	bottom: -40px;
}
.ajn-frame img {
	width:100%;
}
.cont-inner-table {
	width: 100%;
	margin: 0;
}
.inner-page-heading h2 {
	font-size: 36px;
	line-height: 36px;
}
.inner-page-heading p span {
	font-size: 16px;
}
.inner-page-heading p {
	font-size: 16px;
	line-height: 26px;
	margin: 10px 0 0 0;
}
.email-field {
	width: 63%;
}
.email-field input {
	font-size: 16px;
	line-height: 18px;
	padding: 14px 10px;
}
.email-page {
	width: 36%;
	margin: 0 0 0 1%;
}
.email-submit input {
	font-size: 14px;
	line-height: 22px;
	padding: 16px 0;
	letter-spacing: 1px;
}
.buttons-centr a {
	width: 200px;
	font-size: 16px;
	line-height: 22px;
	padding: 14px 0 12px;
	letter-spacing: 0;
}
.print-page {
	width: 100%;
	margin: 20px 0 0 0;
}
.print-form {
	width: auto;
}
.addtolist-back-bttn {
	margin: 20px 0 30px 0;
}
/*About page ends*/
}

@media only screen and (max-width: 479px) {
.header-left {
	width: 100%;
	padding: 0 20px !important;
}
.header-right {
	width: 100%;
    height: 360px;
}
.banner-girl {
	width: 320px;
	left: 50%;
	transform: translate(-50%, 0);
}
.header-left-content {
	text-align: left;
}
.header-content-midd {
	height: auto;
	padding: 20px 5px 20px 0;
}
.header-left::after {
	right: -118px;
	border-bottom: 272px solid #102a50;
	border-right: 118px solid transparent;
}
.catalog-heading {
	font-size: 20px;
	line-height: 24px;
}
.header-left-content h1 {
	font-size: 37px;
	line-height: 34px;
	margin: 4px 0 5px;
}
.journal-magazine {
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0px;
}
.national-international h2 {
	font-size: 22px;
	line-height: 20px;
	margin: 0 0 5px;
}
.national-international h4 {
	font-size: 17px;
	line-height: 16px;
	letter-spacing: 0px;
	padding: 0 0 12px;
}
.steps-easy {
	padding: 25px 8px 25px 8px !important;
}
.steps-list {
	width: 70px;
	display: inline-block;
	float: none;
}
.easy-steps-tab {
	width: 60px;
}
.steps-list a {
	font-size: 12px;
	line-height: 15px;
}
.year-in-header {
	font-size: 22px;
	line-height: 20px;
	margin: 4px 0 0 0;
	letter-spacing: 1px;
}
.easy-steps h3 {
	font-size: 22px;
	line-height: 22px;
	margin: 10px 0 2px 0;
	letter-spacing: 0px;
}
.easy-steps ul li {
	font-size: 13px;
	line-height: 18px;
	margin: 1px 0 0 0;
	letter-spacing: 2px;
	padding: 0 0 0 20px;
	background-size: 12px auto;
	background-position: left -6px top 4px;
}
.cont-phone-mail {
	width: 240px;
	margin: 110px 0 0 0;
}
.contact-info-otr {
	right: -200px;
}
.contact-text {
	width: 200px;
	height: 50px;
}
.contact-icons {
	width: 40px;
	height: 50px;
}
.phone-icon .fa-phone {
	color: #fff;
	font-size: 26px;
	margin: 13px 0 0 0;
}
.mail-icon .fa-envelope-o {
	color: #fff;
	font-size: 25px;
	margin: 12px 0 0 0;
}
.contact-info-otr a {
	font-size: 12px;
	line-height: 52px;
}
.contact-text span {
	line-height: 50px;
}
.sort-options .box_check_txt {
	margin: 17px 8px 12px 0;
}
.sorting-right-side .items-head th {
	padding: 22px 5px;
}
.info-selected {
	font-size: 19px;
	line-height: 22px;
}
.sort-options .box_check_txt label {
	font-size: 12px;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
	width: 21px;
	height: 22px;
	margin: -3px 2px 0 0;
	background-size: 100% auto;
	background-position:center top 1px;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -81px;
}
.selected-items {
	font-size: 18px;
	width: 100%;
	margin: 4px 0 0 0;
}
.cont-detail-form {
	padding: 30px 20px 30px !important;
}
.cont-detail-form span {
	font-size: 17px;
	line-height: 16px;
}
.cont-detail-form h3 {
	font-size: 32px;
	line-height: 28px;
}
.detail-form-otr {
	margin: 20px 0 0 0;
}
.cont-fields input {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 10px;
}
.cont-fields textarea {
	font-size: 16px;
	line-height: 18px;
	padding: 12px 10px;
}
.cont-submit input {
	font-size: 20px;
	line-height: 19px;
	padding: 18px 10px;
}
.best-seller {
	margin: 30px 0 0 0;
	padding: 30px 20px 25px !important;
}
.best-seller h3 {
	font-size: 22px;
	line-height: 24px;
}
.best-seller p {
	font-size: 15px;
	line-height: 22px;
	margin: 8px 0 0 0;
}
.nursing-specialities ul li {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0 0;
	background-position:left top 1px;
}
.tabs-menu li {
	width: 70px;
	line-height: 30px;
}
.tabs-menu li a {
	font-size: 15px;
	line-height: 16px;
	padding: 14px 0;
}
.table-cont {
	overflow-x: scroll;
}
.table-cont table {
	width: 620px;
}
.right-small-table .table-cont table {
	width: 100%;
}
.cont-content {
	padding: 20px 10px 20px;
}
.tabs-menu li a span {
	font-size: 11px;
	line-height: 10px;
}
.sorting-left-side {
	padding: 0 !important;
	width: 100%;
}
.sorting-right-side {
	padding: 0 !important;
	width: 100%;
}
.items-head th {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 3px;
	text-transform: capitalize;
	font-weight: 500;
}
.table-cont td {
	font-size: 12px;
	line-height: 16px;
	padding: 10px 5px;
}
.table-heading td {
	font-size: 24px;
	line-height: 24px;
	text-shadow: 1px 2px 0px #bfbfbf;
}
.right-small-table .table-heading td {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0 9px 10%;
}
.footer-content p {
	font-size: 14px;
	line-height: 22px;
	padding: 0;
}
.contact-footr {
	font-size: 18px;
	line-height: 22px;
}

/*About page starts*/
.container {
	width: 100%;	
}
.inner-page .header-content-midd {
	height: 274px;
}
.inner-page .header-left::after {
	border-bottom: 274px solid #102a50;
}
.inner-page .header-right {
	height: 274px;
}
.inner-img-part {
	text-align: center;
}
.cont-about-text {
	padding: 50px 10px 0;
}
.cont-img-table {
	padding: 50px 10px 0;
}
.cont-image-ajn {
	float: none;
	display:inline-block;
	margin: 0 0 76px 0;
	width: auto;;
}
.ajn-img img {
	width: 220px;
}
.ajn-frame {
	width: 210px;
	right: -20px;
	bottom: -20px;
}
.ajn-frame img {
	width:100%;
}
.cont-inner-table {
	width: 100%;
	margin: 0;
}
.inner-page-heading h2 {
	font-size: 32px;
	line-height: 36px;
}
.inner-page-heading p span {
	font-size: 16px;
}
.inner-page-heading p {
	font-size: 16px;
	line-height: 26px;
	margin: 10px 0 0 0;
}
.email-field {
	width: 100%;
}
.email-field input {
	font-size: 16px;
	line-height: 18px;
	padding: 14px 10px;
}
.email-page {
	width: 100%;
	margin: 5px 0 0 0;
}
.email-submit input {
	font-size: 14px;
	line-height: 22px;
	padding: 16px 0;
	letter-spacing: 1px;
}
.buttons-centr a {
	width: 140px;
	font-size: 12px;
	line-height: 22px;
	padding: 14px 0 12px;
	letter-spacing: 0;
}
.print-page {
	width: 100%;
	margin: 20px 0 0 0;
}
.print-form {
	width: auto;
}
.addtolist-back-bttn {
	margin: 20px 0 30px 0;
}
/*About page ends*/
}