@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; transition:All 0.5s ease; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; -o-transition:All 0.5s ease; }
html { height:100%; }
body { overflow-x:hidden; height:100%; -webkit-text-size-adjust: 100%; }
*:focus { outline:none; } *:hover { }
a:hover, input[type="submit"]:hover {  }
h1, h2, h3, h4, h5, h6, ol, ul, li, img, a, form, label, input, select, textarea { margin:0; padding:0; list-style:none; text-decoration:none; }
select { appearance:none; -webkit-appearance:none; -ms-appearance:none; -moz-appearance:none; -o-appearance:none; }

header, nav, footer, main, mark, article, aside, blockquote, figcaption, figure { margin:0; padding:0; border:none; } 
a:hover, a:focus { text-decoration:none; }
*:focus { outline:none !important; }
img { max-width:100%; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

main { width:100%; float:left; }
section, header, blockquote, footer { width:100%; float:left; }
.pad-none { padding-left:0 !important; padding-right:0 !important; }


/*Header starts*/
.header-left {
	position:relative;
	display:table;
	background:url(../images/header-bg-blue.png) left top repeat;
}
.header-left::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: -118px;
	top: 0;
	border-bottom: 954px solid #102a50;
	border-right: 120px solid transparent;
}
.header-content-midd {
	display:table-cell;
	float:none;
	height:954px;
	vertical-align:middle;
	text-align:right;
	padding: 0 70px 0 0;
}
.catalog-heading {
	color:#fff;
	font-size:39px;
	line-height:40px;
	font-weight: 500;
	letter-spacing: 5px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	text-shadow:0px 4px 0px #000000;
}
.header-left-content h1 {
	color:#fff;
	font-size:160px;
	line-height:120px;
	font-weight: 900;
	margin: 26px 0 20px;
	display: inline-block;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	text-shadow:0px 5px 0px #000000;
}
.journal-magazine {
	color:#fff;
	font-size:31px;
	line-height:30px;
	font-weight: 700;
	letter-spacing: 7px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.year-in-header {
	color:#fff;
	font-size:49px;
	line-height:40px;
	font-weight: 900;
	margin: 20px 0 0 0;
	letter-spacing: 5px;
	font-family: 'Roboto', sans-serif;
}
.easy-steps h3 {
	color:#fff;
	font-size:39px;
	line-height:40px;
	font-weight: 700;
	margin: 62px 0 0 0;
	letter-spacing: 9px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.easy-steps ul {
	float:left;
	width:100%;
}
.easy-steps ul li {
	float:left;
	width:100%;
	color:#fff;
	font-size:25px;
	line-height:20px;
	font-weight: 400;
	padding: 0 56px 0 0;
	margin: 28px 0 0 0;
	letter-spacing: 9px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	background:url(../images/easy-step-bg.png) right top 3px no-repeat;
}

.header-right {
	height: 954px;
	background: url(../images/header-right-img.jpg) center top no-repeat;
	background-size: cover;
	overflow:hidden;
}
.banner-girl {
	float:left;
	width:auto;
	position:relative;
	z-index:2;
	left:0;
	top:0;
}
.cont-phone-mail {
	float:right;
	width:332px;
	margin: 80px 0 0 0;
	position:absolute;
	z-index:3;
	right:0;
	top:0;
}
.contact-info-otr {
	float: left;
	width: 100%;
	background: #fff;
	margin: 10px 0 0 0;
	position: relative;
	right: -268px;
	z-index: 10;
}
.contact-info-otr:hover {
	right:0;
}
.contact-info-otr a {
	float: left;
	margin: 0;
	color:#3a3a3a;
	font-size:16px;
	line-height:66px;
	padding:0;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.contact-info-otr a:hover {
	color:#173f79;
}
.contact-text span {
	float: left;
	margin: 0 10px;
	line-height: 64px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.contact-icons{
	float:left;
	width:64px;
	height:64px;
	text-align:center;
	background:#102a50;
}
.phone-icon .fa-phone {
	color: #fff;
	font-size: 35px;
	margin: 17px 0 0 0;
}
.contact-text {
	float:left;
	width:266px;
	height:64px;
	text-align: center;
}
.midd-txt {
	display:inline-block;
}
.mail-icon .fa-envelope-o {
	color: #fff;
	font-size: 33px;
	margin: 14px 0 0 0;
}
/*Header ends*/

/*Home content part starts*/
.cont-content {
	padding: 35px 25px 30px;
}
.national-international {
	text-align:center;
}
.national-international h2 {
	color:#464646;
	font-size:47px;
	line-height:42px;
	font-weight: 900;
	margin: 0 0 20px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.national-international h4 {
	color:#464646;
	font-size:31px;
	line-height:26px;
	font-weight: 900;
	margin: 0;
	padding:0 0 30px;
	letter-spacing: 2px;
	position: relative;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.national-international h4:after {
	content:"";
	position:absolute;
	z-index:1;
	left:50%;
	bottom:0;
	transform:translate(-50%, 0);
	width:194px;
	height:2px;
	background:#102a50;
}

.steps-easy {
	padding: 25px 0;
}
.outer-steps-list {
	display:inline-block;
	float:none;
}
.steps-list {
	float:left;
	width:100px;
	position:relative;
	margin: 0 26px 0 0;
}
.steps-list:last-child {
	margin-right:0;
}
.steps-list::before {
	content: "";
	position: absolute;
	z-index: 1;
	left: -20px;
	top: 0;
	border-top: 28px solid #e3e3e3;
	border-left: 20px solid transparent;
}
.steps-list:after {	
	content:"";
	position:absolute;
	z-index:1;
	left:-20px;
	bottom:0;
	border-bottom: 28px solid #e3e3e3; border-left: 20px solid transparent;
}
.steps-list a {
	float:left;
	width:100%;
	color:#464646;
	font-size:16px;
	line-height:15px;
	background:#e3e3e3;
	font-weight:500;
	position:relative;
	padding: 20px 0 19px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.steps-list a::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: -20px;
	bottom: 0;
	border-top: 27px solid transparent;
	border-left: 20px solid #e3e3e3;
	border-bottom: 27px solid transparent;
}
.easy-steps-tab {
	width:120px;
}
.easy-steps-tab::before, .easy-steps-tab::after {
	display:none;
}
.easy-steps-tab a {
	color:#fff;
	background:#102a50;
}
.easy-steps-tab a::after {
	border-left-color: #102a50;
}

.otr-slider {
	padding: 0 36px !important;
	position: relative;
}
.otr-slider .owl-item {
	padding:15px;
	text-align: center;
}
.otr-slider .owl-item .item {
	display:inline-block;
}
.otr-slider a {
	display: block;
	padding:10px;
    -moz-box-shadow:0 0 6px #d0d0d0;
    -webkit-box-shadow:0 0 6px #d0d0d0;
    box-shadow:0 0 6px #d0d0d0;
}
.otr-slider a:hover {
    -moz-box-shadow:0 0 6px #102a50;
    -webkit-box-shadow:0 0 6px #102a50;
    box-shadow:0 0 6px #102a50;
}
.otr-slider a .item img {
	max-width:100%;
}

/**/
.sorting-part {
	padding: 20px 0 30px 0;
}
.sorting-left-side {
	padding: 0 25px 0 0 !important;
}
#tabs-container {
	float: left;
	width: 100%;
	text-align: center;
}
.tabs-menu {
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.tabs-menu li:last-child {
	margin: 0;
}
.tabs-menu li {
    float: left;
	width: 190px;
    line-height: 30px;
    margin-right: 5px;
}
.tabs-menu li a span {
	float:left;
	width:100%;
	font-size:14px;
	line-height:14px;
	font-weight:900;
	margin: 3px 0 0 0;
	font-family: 'Roboto', sans-serif;
}
.tabs-menu li.current {
    position: relative;
    background-color: #000;
    z-index: 5;
}
.tabs-menu li.current a {
	color:#fff;
	background: #173f79;
}
.tabs-menu li a {
	float:left;
	width:100%;
	color:#606060;
	font-size:20px;
	line-height:22px;
	background: #f8f4f4;
	font-weight:900;
    padding: 20px 0;
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.tabs-menu .current a {
    color: #2e7da3;
}
.tab {
	float: left;
	width: 100%;
	margin: 0;
	position: relative;
	z-index:1;
	top: -5px;
}
.tab-content {
    width: 100%;
    display: none;
}
#tab-1 {
 display: block;   
}
.table-cont {
	float: left;
	width: 100%;
}
.table-cont table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table-cont td, .table-cont th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px 0;
}
.table-cont th {
    border: 1px solid #3b5895;
}
.table-cont tr:nth-child(even) {
    background-color: #f8f4f4;
}
.items-head {
	background:#173f79 !important;
}
.items-head th {
	color:#fff;
	font-size:15px;
	line-height:16px;
	padding: 15px 5px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
.table-cont tr.table-heading {
	background-color: #fff !important;
}
.table-cont td {
	color:#464646;
	font-size:15px;
	line-height:16px;
	min-height:48px;
	text-align:center;
	padding: 10px 5px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.table-heading td {
	color:#464646;
	font-size:47px;
	line-height:42px;
	font-weight:900;
    padding: 10px 0;
	text-align:center;
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	border-left: none;
	border-right: none;
	text-shadow: 2px 3px 0px #bfbfbf;
}
.table-cont .name-id {
	text-align: left !important;
}
.table-cont .items-head th.name-id {
	text-align: center !important;
}
.box
{
 width:805px;
 background-color:#16a7c7;
 padding:15px 0 15px 30px;
 float:left;
}
.box_check_txt
{
	float:none;
 font-size:14px;
color:#FFFFFF;
margin: 2px 0 0 0;
font-family: 'OpenSansRegular';
}
.box_check_txt label {
	margin:0;
}
.box_check_txt input[type="checkbox"] {
    display:none;
}

.box_check_txt input[type="checkbox"] + label span.green {
    display:inline-block;
    width:28px;
    height:24px;
    margin:0;
    vertical-align:middle;
    background:url(../images/check-img.png) no-repeat;
	background-position:center top;
    cursor:pointer;
	transition:All 0s ease; -webkit-transition:All 0s ease; -moz-transition:All 0s ease; -o-transition:All 0s ease;
}
.box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -78px;
	transition:All 0s ease; -webkit-transition:All 0s ease; -moz-transition:All 0s ease; -o-transition:All 0s ease;
}

.like-to-subscribe {
	background: #fff !important;
}
.like-to-subscribe td {
	border: 1px solid #fff;
}
.info-selected {
	color: #464646;
	font-size: 25px;
	line-height: 20px;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.sort-options {
	text-align:center;
}
.checkbox-center {
	float: none;
	width: auto;
	display: inline-block;
}
.sort-options .box_check_txt {
	float: left;
	margin: 26px 20px 19px 0;
}
.sort-options .box_check_txt:last-child {
	margin-right: 0;
}
.sort-options .box_check_txt label {
	color:#606060;
	font-size:16px;
	line-height:27px;
	font-weight:900;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.sort-options .box_check_txt input[type="checkbox"] + label span.green {
    display:inline-block;
    width:31px;
    height:30px;
    margin:-3px 5px 0 0;
    vertical-align:middle;
    background:url(../images/check-img-big.png) no-repeat;
	background-position:center top;
}
.sort-options .box_check_txt input[type="checkbox"]:checked + label span.green {
	background-position:center top -120px;
}

.sorting-right-side {
	padding:0 0 0 25px !important;
}
.sorting-right-side .items-head th {
	padding: 23px 5px;
}
.right-small-table .table-cont td {
	padding: 14px 5px;
}
.right-small-table .table-heading td {
	color: #102a50;
	font-size: 20px;
	line-height: 22px;
	padding: 15px 0 15px 9%;
	text-align: left;
	text-shadow:none;
}
.cont-total {
	margin: 12px 0 0 0;
}
.total-titles {
	float:left;
}
.total-inr {
	float:right;
}
.selected-items {
	color:#102a50;
	font-size:20px;
	line-height:18px;
	font-weight:900;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.cont-detail-form {
	margin:40px 0 0 0;
	background:#102a50;
	padding:40px 50px 40px !important;
}
.cont-detail-form span {
	float:left;
	width:100%;
	color:#fff;
	font-size:21px;
	line-height:19px;
	font-weight:900;
	text-align:center;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.cont-detail-form h3 {
	float:left;
	width:100%;
	color:#fff;
	font-size:55px;
	line-height:50px;
	font-weight:900;
	text-align:center;
	margin: 10px 0 0 0;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}

.detail-form-otr {
	margin:35px 0 0 0;
}
.cont-fields {
	float:left;
	width:100%;
	margin: 0 0 10px;
}
.one-half {
	float:left;
	width:50%;
	padding:0 5px 0 0;
}
.second-half {
	float:right;
	width:50%;
	padding:0 0 0 5px;
}
.cont-fields input {
	float:left;
	width:100%;
	color:#464646;
	font-size:16px;
	line-height:16px;
	padding:18px 10px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.cont-fields textarea {
	float:left;
	width:100%;
	color:#464646;
	font-size:15px;
	line-height:18px;
	padding:16px 10px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.cont-submit {
	float:left;
	width:100%;
}
.cont-submit input {
	float:left;
	width:100%;
	color:#fff;
	font-size:21px;
	line-height:19px;
	padding:35px 10px;
	background:#4c5f7c;
	text-align:center;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.cont-submit input:hover {
	background:#6c7f9c;
}

.best-seller {
	margin: 40px 0 0 0;
	background:#f8f4f4;
	padding:40px 45px 30px !important;
}
.best-seller h3 {
	color:#464646;
	font-size:35px;
	line-height:30px;
	text-align:left;
	margin: 0 0 10px 0;
	text-transform:uppercase;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
}
.best-seller p {
	color:#464646;
	font-size:17px;
	line-height:26px;
	margin: 15px 0 0 0;
	font-weight:300;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}

.nursing-specialities ul {
	float:left;
	width:100%;
}
.nursing-specialities ul li {
	float:left;
	width:100%;
	color:#464646;
	font-size:17px;
	line-height:24px;
	margin: 10px 0 0 0;
	padding: 0 0 0 30px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	background:url(../images/li-bg.png) left top 3px no-repeat;
}
/*Home content part ends*/

/*Footer starts*/
.cont-footer {
	padding:25px 0;
	background:#102a50;
}
.footer-content p {
	color:#fff;
	font-size:18px;
	line-height:22px;
	padding: 0 20px;
	margin: 0;
	text-align: center;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.services-footer-outer {
	margin: 8px 0 0 0;
}
.contact-footr {
	color:#fff;
	font-size:24px;
	line-height:26px;
	padding: 0;
	margin: 5px 0 0 0;
	text-align: center;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.contact-footr a {
	color:#fff;
}
.contact-footr a:hover {
	text-decoration:underline;
}
/*Footer ends*/


/*About page starts*/
.container {
	width:1560px;
}
.inner-page .header-content-midd {
	height:692px;
}
.inner-page .header-left::after {
	border-bottom: 692px solid #102a50;
}
.inner-page .header-right {
    height: 692px;
}
.inner-page-content {
	padding:35px 0 0;
}
.cont-image-ajn {
	float: right;
	width: auto;
	position: relative;
	z-index: 1;
	margin: 0 222px 76px 0;
}
.ajn-img {
	float:left;
	width:100%;
	position:relative;
	z-index:2;
}
.ajn-img img {
	float:left;
	max-width:100%;
}
.ajn-frame {
	position: absolute;
	z-index: 1;
	right: -82px;
	bottom: -72px;
}
.ajn-frame img {
	max-width: none;
}

.cont-inner-table {
	float:left;
	width:522px;
	margin:32px 0 0 20px;
}
.cont-inner-table table {
	float: left;
	width: 100%;
}
.cont-inner-table table tr th, .cont-inner-table table tr td {
	height: 40px;
	padding: 5px 28px;
}
.cont-inner-table table tr th {
	color:#464646;
	font-size:15px;
	line-height:18px;
	font-weight:700;
	font-family: 'Roboto', sans-serif;
}
.cont-inner-table table tr td {
	color:#464646;
	font-size:15px;
	line-height:18px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.cont-inner-table table tr:nth-child(2n) {
	background:#f8f4f4;
}

.cont-about-text {
	padding: 50px 0 0;
}
.inner-page-heading h2 {
	color:#464646;
	font-size:82px;
	line-height:75px;
	text-align: center;
	text-transform:uppercase;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
}
.inner-page-heading p {
	color:#464646;
	font-size:21px;
	line-height:32px;
	text-align: center;
	margin: 20px 0 0 0;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
}
.inner-page-heading p span {
	font-size:25px;
	font-weight:500;
}

.print-outer {
	margin:40px 0 0 0;
	text-align:center;
}
.print-form {
	float:none;
	display:inline-block;
	width:980px;
}
.email-field {
	float:left;
	width:520px;
	border:4px solid #e5e5e5;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.email-field input {
	float:left;
	width:100%;
	color:#464646;
	font-size:16px;
	line-height:18px;
	padding: 34px 45px;
	background:#fff;
	border:none;
	font-weight:700;
	font-family: 'Roboto', sans-serif;

}
.email-submit {
	float:left;
	width:25%;
}
.email-page {
	width: 250px;
	margin: 0 10px;
}
.print-page {
	width:150px;
	margin: 0 0 0 40px;
}
.email-submit input {
	float:right;
	width:100%;
	color:#fff;
	font-size:21px;
	line-height:22px;
	background:none;
	border:none;
	padding: 36px 0;
	background:#102a50;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.email-submit input:hover {
	background:#405f99;
}
.addtolist-back-bttn {
	margin: 30px 0 45px 0;
	text-align: center;
}
.buttons-centr {
	display:inline-block;
}
.buttons-centr a {
	float:left;
	width:360px;
	color:#767676;
	font-size:21px;
	line-height:22px;
	background:none;
	border:none;
	margin: 0 5px;
	padding: 37px 0 35px;
	background:#ddd;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.buttons-centr a:hover {
	color:#fff;
	background:#102a50;
}
/*About page ends*/